
@{
    ViewBag.Title = "Facts";
}

<h2>Facts</h2>

<div align="center">
    <table width="590" border="0" align="center" cellpadding="0" cellspacing="0">


        <tr>


            <td background="images/sea.jpg">
                <table width="590" height="340" border="0" cellpadding="0" cellspacing="8">


                    <tr>


                        <td valign="top">
                            <table border="0" cellspacing="0" cellpadding="0">


                                <tr>


                                    <td>
                                        <div align="left">
                                            <p>
                                                @*<span class="maintitle">
                                                        <a href="onsitemassage.html" class="maintitle">
                                                            What    '
                                                            is On-Site Massage?
                                                        </a> | <span class="maintitile">
                                                            <a href="benefits.html" class="maintitle">
                                                                What   '
                                                                are the Benefits?
                                                            </a>
                                                        </span> | <a href="requirements.html" class="maintitle">Requirements</a>
                                                        | <a href="facts.html" class="maintitle">Facts</a> <br />

                                                    </span><br />*@
                                                <span class="maintitle"><b>What is On-Site Massage?</b></span><br />
                                                <span class="mainer">
                                                    <br />
                                                    On-Site massage is so called because it is practiced at
                                                    your workplace.
                                                </span>
                                            </p>
                                            <p>
                                                <span class="mainer">
                                                    It&#8217;s a Japanese, Acupressure
                                                    massage that leaves the body energised and the mind alert.
                                                    The full version is 25 minutes, but a 10 minute &#8216;taster&#8217;
                                                    version is also offered for those employees under tight
                                                    time contraints.
                                                </span>
                                            </p>
                                            <p>
                                                <span class="mainer">
                                                    The massage works on pressure points
                                                    on the upper body, working on the back, head, neck, shoulders,
                                                    arms and hands, using elbows, thumbs and palm pressure.
                                                    This press and release technique helps to stimulate the
                                                    circulatory, muscular, nervous, immune and lymphatic systems
                                                    and promotes the release of endorphins, leaving the client
                                                    feeling good in a relaxed, but energised and clearly focused
                                                    frame of mind.
                                                </span>
                                            </p>

                                            <p>
                                                <span class="mainer">
                                                    <strong>
                                                        The treatment is received
                                                        fully clothed
                                                    </strong>, on a specially designed ergonomic
                                                    chair and was designed with the pc worker in mind. All treatments
                                                    are preceded by a brief confidential consultation to ascertain
                                                    the individual&#8217;s needs.
                                                </span>
                                            </p>

                                    </td>

                                </tr>


                            </table>

                            <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="top">
                                        <div align="left">
                                            <p>
                                                @*<span class="maintitle">
                                                        <a href="onsitemassage.html" class="maintitle">
                                                            What
                                                            is On-Site Massage?
                                                        </a> | <span class="maintitile">
                                                            <a href="benefits.html" class="maintitle">
                                                                What
                                                                are the Benefits?
                                                            </a>
                                                        </span> | <a href="requirements.html" class="maintitle">Requirements</a>
                                                        | <a href="facts.html" class="maintitle">Facts</a> <br />
                                                    </span><br />*@
                                                <span class="maintitle"><b>What are the Benefits?</b></span><br />
                                                <span class="mainer">
                                                    <br />
                                                    There are many benefits of this therapy and the client
                                                    will see more of these with each treatment received. <br />
                                                    It is a very powerful massage that encourages the body
                                                    to heal itself by stimulating all the systems mentioned
                                                    in 'What is On-Site Massage?' (circulatory, immune, nervous,
                                                    lymphatic etc).
                                                </span>
                                            </p>
                                            <p>
                                                <span class="mainer">
                                                    <strong>
                                                        In brief, the main benefits
                                                        are:
                                                    </strong> <br />
                                                    Releases muscle tension<br />
                                                    Relieves headaches / backaches<br />
                                                    Diffuses stress<br />
                                                    Can help sufferers of hypertension, hyperglycaemia, migraines
                                                    and RSI<br />
                                                    Improves concentration and productivity <br />
                                                    Pro-active healthcare, encouraging the body to heal itself
                                                    <br />
                                                    Revitalising and Energy Boosting<br />
                                                    &nbsp;<br />
                                                    On-Site massage is a very flexible treatment that can
                                                    be adapted for all needs and modified to suit each individual.
                                                </span>
                                            </p>
                                        </div>
                                    </td>
                                </tr>

                            </table>


                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="top">
                                        <div align="left">
                                            <p>
                                                @*<span class="maintitle">
                                                        <a href="onsitemassage.html" class="maintitle">
                                                            What
                                                            is On-Site Massage?
                                                        </a> | <span class="maintitile">
                                                            <a href="benefits.html" class="maintitle">
                                                                What
                                                                are the Benefits?
                                                            </a>
                                                        </span> | <a href="requirements.html" class="maintitle">Requirements</a>
                                                        | <a href="facts.html" class="maintitle">Facts</a> <br />
                                                    </span><br />*@
                                                <span class="maintitle"><b>Requirements</b></span><br />
                                                <span class="mainer">
                                                    <br />
                                                    To provide On-Site massage for your business, The Listening
                                                    Hand requires the following:
                                                </span>
                                            </p>
                                            <p>
                                                <span class="mainer">
                                                    Nominated site contact.<br />
                                                    Appropriate in-house advertising of the service.<br />
                                                    A room or area with a space of 6x8 feet (2x3m).<br />
                                                    <br />
                                                    Interested? Why not <strong>
                                                        <a href="contactus.html" class="mainer">
                                                            contact
                                                            us
                                                        </a> .... <a href="mailto:info@thelisteninghand.co.uk" class="mainer"><strong>info@thelisteninghand.co.uk</strong></a>
                                                    </strong>
                                                </span>
                                            </p>
                                        </div>
                                    </td>
                                </tr>

                            </table>


                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="top">
                                        <div align="left">
                                            <p>
                                                @*<span class="maintitle">
                                                        <a href="onsitemassage.html" class="maintitle">
                                                            What
                                                            is On-Site Massage?
                                                        </a> | <span class="maintitile">
                                                            <a href="benefits.html" class="maintitle">
                                                                What
                                                                are the Benefits?
                                                            </a>
                                                        </span> | <a href="requirements.html" class="maintitle">Requirements</a>
                                                        | <a href="facts.html" class="maintitle">Facts</a> <br />
                                                    </span><br />*@
                                                <span class="maintitle"><b>Facts</b></span><br />
                                                <br />
                                                <span class="mainer">
                                                    <strong><b>Consider these facts:</b></strong><br />
                                                    Work related stress is now the biggest occupational health
                                                    problem in the UK, with an estimated 500,000 people affected.
                                                    Back pain is a close 2nd. In 2003, the total cost for
                                                    sickness and absence in the UK was &pound;11 BILLION,
                                                    estimated to increase by <strong>&pound;1 BILLION</strong>
                                                    every 10 yrs. (Confederation of British Industry)<br />
                                                    <br />
                                                    Stress costs British Industry <strong>&pound;3 BILLION</strong>
                                                    per year. (Mental Health Foundation)<br />
                                                    <strong>9.1</strong> days are lost per year, per employee
                                                    to sickness leave<br />
                                                    = average cost of <strong>&pound;1,384.00</strong> per
                                                    employee per year<br />
                                                    = <strong>7.76%</strong> of the yearly salary bill lost.<br />
                                                    (All taken from 2003 report from Chartered Institute of
                                                    Personnel Development CIPD)<br />
                                                    <br />
                                                    <strong>How can On-Site Massage help?</strong> Research
                                                    into physical therapies in the workplace has shown <strong>
                                                        a
                                                        drop of over 50% in the number of sickness absences
                                                    </strong>
                                                    for companies offering these benefits. A visit from The
                                                    Listening Hand could save your company a lot of money.
                                                </span></span><br />
                                            </p>
                                        </div>
                                    </td>
                                </tr>

                            </table>



