
@{
    ViewBag.Title = "Testimonials";
}

<h2>Testimonials</h2>


<div align="center">

    <table width="590" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td background="images/sea.jpg">
                <table width="593" height="340" border="0" cellpadding="0" cellspacing="8">
                    <tr>
                        <td width="486" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <div align="left">

                                            <span class="maintitle"><strong>Testimonials: </strong></span><span class="style3"><a href="#" onclick="window.location.href = '@Url.Action("Testimonials", "Home")';" class="maintitle">Therapeutic Massage</a> </span><strong>
                                                <br />
                                                <br />
                                            </strong>


                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td>
                                                                <div align="left">

                                                                    <span class="mainer">
                                                                        It's helped enormously - I was pretty sore the rest of that day (I wouldn't ever get in a fight with you!!) but the trapped nerve was a lot less after that, and now seems to have completely disappeared!  You're a miracle worker!  Thanks a lot for that.  I will definitely be aiming for another session at some point.<br />
                                                                        <strong>DAVID</strong><br />
                                                                        <br />
                                                                        I wanted to let you know how good everything feels today and to thank you for helping to get me to a point of near normality.<br />
                                                                        I went to bed, slept and woke up this morning without even thinking about my arm.  WONDERFUL!
                                                                        Thank you so much for your healing hands - they really do work!<br />
                                                                        <strong>CLIVE</strong><br />
                                                                        <br />
                                                                        Just wanted to say thanks for the massage, it was super and I am telling everyone here that they should have one!! dont know if this is usual but I was fast asleep by half nine and did not wake up till the alarm, so I feel fantastic this morning, thank you.<br />
                                                                        <strong>PEGGY</strong>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    </table>


                                                    <span class="maintitle"><strong>Testimonials: </strong></span><span class="style3"><a href="#" class="maintitle">On-Site Massage</a></span><span class="maintitle"><strong> </strong></span><strong>
                                                        <br />
                                                        <br />
                                                    </strong>

                                                    <span class="mainer">
                                                        Georgina Petrou is one of the most wonderful practitioners I have come across in my six years of managing the British Library's WellBeing programme. Her professionalism is world-class and her personality warm and welcoming. Her skills shine through in her treatments which I know first hand and also through the positive feedback received from staff over the years. It has been a great honour working with Georgina and the WellBeing programme would not be the success it is today without her. I would recommend her without hesitation and she is a treasure to any and all companies with whom she works. <br />

                                                    </span>
                                                    <span class="mainer">
                                                        <strong>Caroline Hooley,<br />Business Development Manager, Human Resources,<br />The British Library.</strong>
                                                        <br /><br />
                                                    </span>


                                                    <span class="mainer">
                                                        Georgina Petrou has provided Telecom Training Solutions with her on-site massage service every fortnight since 2005.<br />
                                                        <br />
                                                        This service is received with enthusiasm by the staff
                                                        and has a very positive effect on them. She is friendly,
                                                        professional and extremely competent.<br />
                                                        <br />
                                                        I would recommend Georgina&#8217;s service to any company
                                                        wishing to improve their working environment and the health
                                                        of their staff. I have no hesitation in endorsing her
                                                        treatments and would be happy to discuss this further
                                                        with anybody looking for a massage therapist.<br />

                                                    </span><span class="mainer">
                                                        <strong>
                                                            INGRID HARRIS, Telecom
                                                            Training Solutions.
                                                        </strong>
                                                        <br />
                                                        <br />
                                                    </span>
                                                    <span class="mainer">
                                                    </span></strong><span class="mainer">
                                                        Georgina has provided
                                                        her on-site service to those members of staff who wished
                                                        to avail themselves of this.<br />
                                                    </span><span class="mainer">
                                                        <br />
                                                        It is a very professional service delivered in a most
                                                        friendly way and has shown positive results in the working
                                                        environment.<br /><br />
                                                        I would not hesitate to recommend this treatment or the
                                                        delightful young lady who provides it.<br />
                                                        <strong>
                                                            HR/PAYROLL MANAGER, Claywood Financial Services
                                                            Limited.
                                                        </strong>, <br />
                                                        <br />
                                                    </span>

                                                    <span class="mainer">
                                                        I am the Operations Manager
                                                        at Skadden Arps Slate Meagher &amp; Flom (UK) LLP. Georgina
                                                        Petrou started with Skadden on an incentive day which was
                                                        organised for all support staff. Her service was received
                                                        with such enthusiasm, she now has regular clients and visits
                                                        every month.<br />
                                                        <br />
                                                        I have found Georgina to be a professional and friendly individual, who delivers a very high standard of service thus bringing positive results to the working environment.<br />
                                                        <br />
                                                        I would highly recommend Georgina's treatment to any company
                                                        wishing to see marked improvements in the health and attitude
                                                        of their employees. I firmly believe that any such company
                                                        will reap the benefits that this brings to their business.<br />
                                                        <strong>

                                                            GEORGE PANTELIDES, Skadden Arps Slate
                                                            Meagher &amp; Flom (UK) LLP
                                                        </strong>
                                                        <br /><br />
                                                    </span>
                                                    <span class="mainer">
                                                        On behalf of Carers Bucks, I would like to thank you very much indeed for all your hard work giving hand massage at the Market Square event on 20th June 2012.  We are so grateful that you were able to offer these sessions at the event,  these were greatly appreciated by the carers who attended them.<br />
                                                        <br />
                                                        Thank you again,
                                                        <br />
                                                        <strong>
                                                            CLARE LOWE,
                                                            Carers Bucks &amp; Carers Milton Keynes.
                                                        </strong>
                                                        <br />
                                                        <a href="http://www.carersbucks.org" class="texto" target="_blank">www.carersbucks.org</a>
                                                        <br /><br />
                                                    </span>

                                                    <span class="mainer">
                                                        As part of a new Library Well
                                                        Being Strategy, implemented in 2006, The Listening Hand
                                                        were taken on to provide seated, acupressure massage for
                                                        staff to visit. The take up has been great and the feedback
                                                        even better - a thoroughly professional, cost effective
                                                        and customer focussed service which has proved both a benefit
                                                        and a focal point for the launch of other Well Being initiatives
                                                        through out the last year.<br />

                                                        <strong>
                                                            MARK STRINGER,
                                                            The British Library.<br />
                                                        </strong>
                                                    </span><br />

                                                    <span class="mainer">
                                                        I have now had two appointments
                                                        with Georgina, not only is she thoroughly professional in
                                                        her approach to each appointment but more so she is a lovely
                                                        lady who promotes very calming and healing energy in her
                                                        treatments. I was very impressed after my first visit but
                                                        after today I can only tell people that it improves with
                                                        practice&#8230;in my second appointment even though I arrived
                                                        in a fluster I could feel myself melting into the chair
                                                        and I was beaming with radiance when I sat up after 25mins
                                                        (I&#8217;m even smiling thinking about it).<br />
                                                        <br />
                                                        IThe selfish part of me wants to keep these sessions to
                                                        myself in order to allow me to always book a time but my
                                                        practical brain realises I must spread the word and encourage
                                                        all of my colleagues to treat themselves even if it is only
                                                        for 10mins.<br />
                                                        <br />
                                                        I sincerely hope that you have enough interest to invite
                                                        Georgina back on a regular basis and I would encourage you
                                                        to do so. It is very special to be able to break away from
                                                        your desk and have a massage in your place of work. <br />
                                                        <strong> SHARON, The British Library.</strong><br />
                                                    </span><br />



                                                    <span class="mainer">
                                                        I have been visiting Georgina for over 6 years, initially with RSI ...and then on a monthly basis to avoid getting RSI again - it worked!  She has helped me with sports injuries, throughout my pregnancy, and sometimes just because it is nice!.  Georgina is delightful, a professional who is a pleasure to visit, full of relevant advice but able to read her customers' needs entirely.  I highly recommend a visit to The Listening Hand for all ages.
                                                        <br />
                                                        <strong>
                                                            (Julia, Mum, Marathon runner, Entrepreneur)
                                                        </strong>
                                                        <br />
                                                        <br />
                                                        I look forward to every visit to Georgina. I know I will feel truly refreshed, relaxed and revitalised afterwards. Georgina is highly knowledgeable, highly professional and very friendly.
                                                        <br />
                                                        <strong>
                                                            (Clive, Guitarist, Director)
                                                        </strong>
                                                        <br />
                                                        <br />
                                                        Georgina, As always it is lovely to have your massage and chat to you, and thanks for helping my ankle - it felt much lighter afterward.
                                                        <br />
                                                        <strong>
                                                            (Rossitza, Professor at The British Library, London.)
                                                        </strong>
                                                        <br />
                                                        <br />
                                                        Following a lifetime of sporting activities I now suffer almost constant pain in my back and shoulders. Luckily, a few years ago, Georgina was recommended to me by a family member, which has been of so much benefit as the treatment has proved a great success and I now call her to work her skills on me whenever the pain gets a bit too bad, usually every 4 or 5 weeks.
                                                        I am now in my 89th year and can highly recommend Georgina to anyone in a similar situation to mine.
                                                        <br />
                                                        <strong>
                                                            (Geoff, 90, WW2 veteran)
                                                        </strong>
                                                        <br />
                                                        <br />
                                                        Treatment from Georgina has transformed my daily life! I had suffered with a chronic shoulder issue for over a decade with no resolution despite numerous practitioners' attempts. Just one course of sessions with Georgina permanently eradicated a problem I thought would never be remedied. Ongoing regular sessions with Georgina provide me with a level of physical and mental wellbeing which is utterly priceless. She is so passionate about her work, and her expertise and results surpass anyone I've formerly been treated by. Her gentle manner, warm personality and tranquil room will put anyone at ease and I'm convinced she has magic hands.
                                                        <br />
                                                        <strong>
                                                            (Mel, Journalist, Mum)
                                                        </strong>
                                                    </span>



</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>

