
@{
    ViewBag.Title = "TestimonialsOnSite";
}

<h2>TestimonialsOnSite</h2>

<table width="590" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td background="images/sea.jpg">
            <table width="593" height="340" border="0" cellpadding="0" cellspacing="8">
                <tr>
                    <td width="486" valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <div align="left">
                                        <span class="maintitle"><strong>Testimonials: </strong></span><span class="style3"><a href="onsitetestimonials.php" class="maintitle">On-Site Massage</a></span><span class="maintitle"><strong> | <a href="therapeutictestimonials.html" class="maintitle">Therapeutic Massage</a> </strong></span><strong>
                                            <br />
                                            <br />
                                        </strong>

                                        <span class="mainer">
                                            Georgina Petrou is one of the most wonderful practitioners I have come across in my six years of managing the British Library's WellBeing programme. Her professionalism is world-class and her personality warm and welcoming. Her skills shine through in her treatments which I know first hand and also through the positive feedback received from staff over the years. It has been a great honour working with Georgina and the WellBeing programme would not be the success it is today without her. I would recommend her without hesitation and she is a treasure to any and all companies with whom she works. <br />
                                            <br />
                                        </span>
                                        <span class="mainer"><strong>Caroline Hooley,<br />Business Development Manager, Human Resources,<br />The British Library.</strong></span>




                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
