
@{
    ViewBag.Title = "Therapeutic";
}

<h2>Therapeutic</h2>


<div align="left" class="mainer">
    <span class="maintitle"><b>What is Therapeutic Massage?</b></span><br />

    It is a massage technique performed on a massage table
    or couch, with oils directly applied to the skin.</br> It encourages
    the body to heal itself by restoring its strength and
    vitality.<br />

    Using specific treatment patterns, it can be used to relieve various problems including: <br />
 
    <table width="100%" border="0" cellspacing="0" cellpadding="0">


        <tr>


            <td>
                Back pain <br /> Sports injuries<br /> Headaches<br /> Muscle tension
                and fatigue<br />Muscle related illnesses<br />Old or recent
                injuries<br />Shoulder tension<br />Pregnancy aches and pains<br />Hypertension<br />
            </td>

            <td width="25">&nbsp;</td>

            <td valign="top">
                Whiplash<br />RSI<br />Hyperglycaemia<br />Anxiety<br />Stress<br />Menstrual
                pains<br />Post surgery muscle pain<br />General aches and pains<br />Or
                just enjoyed for pure relaxation.
            </td>

        </tr>

    </table>
    <br />All treatments are subject to a confidential consultation and usually last 1 hour.
    <br />
    30 minute and 90 minute sessions are also available. <br />
    <br />Please contact Georgina to discuss the best treatment
    for you, and arrange appointment times.<br />


    <br />
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <div align="left">
                    <span class="mainer">
                        <span class="maintitle">
                            <b>
                                General
                                Treatments
                            </b>
                        </span><br />

                        After a confidential consultation, a treatment pattern will
                        be designed specifically to address the clients current
                        problem, but also taking into account historical injuries.<br />
                        <br />
                        This type of treatment focuses on addressing all known problems,
                        possibly over a course of treatments. It will work on the
                        areas causing the current problem and on all related muscles.
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <div align="left">
                    <p>
                        <span class="mainer">
                            <span class="maintitle"><b>Back treatments</b></span><br />
                            <strong>

                            </strong> The back is the support system for the whole
                            body. Problems in this area can lead to compensatory injuries
                            in almost any other part of the body, particularly the
                            legs and neck and shoulders<br /><br />This massage assists primarily in
                            the relief of back pain, but can also help shoulder tension,
                            &#8216;lopsided&#8217; shoulders, lethargy, and menstrual
                            pains.It addresses the whole body by focusing on the back
                            and any synergists to the problem muscles.
                        </span>
                    </p>
            
                </div>
            </td>
        </tr>

    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <div align="left">
                    <p>
                        <span class="mainer">
                            <span class="maintitle"><b>Shoulder Treatments</b></span><br />
                            <strong>

                            </strong>Massage treatments for the shoulders
                            help to restore a full range of movement to this area and
                            address repercussive injuries to any associated muscles.<br />
                      
                            These treatment patterns help restore the full range of
                            movement to the shoulders and arms and can also alleviate
                            tension headaches, shoulder pain, stiff neck, and aching
                            arms.
                        </span>
                </div>
            </td>
        </tr>

    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <div align="left">
                    <span align="left" class="mainer">
                        <span class="maintitle"><b>Leg Treatments</b></span><br />

                        Treatment patterns focusing on the legs are excellent
                        for clients involved in regular sporting activity. They
                        help maintain healthy leg and back muscles and reduce
                        the build up of lactic acid.<br />
                        <br />
                        This massage focuses on all leg muscles and connected
                        muscles in the lower back, buttocks and ankles to help
                        alleviate injuries to all muscles of the legs.<br />
                        <br />
                    </span>
                </div>
            </td>
        </tr>

    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <div align="left">
                    <span class="mainer">
                        <span class="maintitle"><b>Head & Face Treatments </b></span><br />

                        These are wonderfully relaxing massages. Working on all areas of the head and face, this treatment can provide relief from headaches, migraines, tension, anxiety, insomnia and stress. It can also assist with sinus & breathing problems..<br />
                        <br />
                        The back, neck and shoulders may also be incorporated into this treatment pattern, or the whole hour can be spent solely on the head and face to encourage complete relaxation
                    </span>
                </div>


            </td>
        </tr>

    </table>
    <br />
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <div align="left">
                    <span class="mainer">
                        <span class="maintitle"><b>Pregnancy Treatments</b></span><br />

                        Ante natal massage is available from the second trimester onwards. It is a very gentle and relaxing massage, with unscented oil, that works on the legs, back, shoulders, neck, head, arms, and hands, to relieve all the characteristic ails that accompany pregnancy, from calf cramps, to anxiety. It can also help relieve PSD, lower back pain, headaches, and achy neck and shoulders. It is performed on the massage table with the client lying on their side, and supported by a pregnancy pillow.<br />
                        <br />
                        Post natal massage is also available, for new mothers, and fathers, who are welcome to bring baby along while they receive their treatment. This massage is available from 8 weeks after the birth. These sessions treat the whole body with the focus on relaxation. The back, neck, arms and shoulders receive most of the attention during this treatment, to alleviate muscle tension usually caused by feeding/ carrying baby.
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>

</div>


